Node red flow code.txt
[{"id":"88ec9676.cf36c8","type":"tab","label":"Smart transportation system","disabled":false,"info":""},{"id":"74da1b9b.e95144","type":"debug","z":"88ec9676.cf36c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":941.5999755859375,"y":125,"wires":[]},{"id":"a7617976.9a1168","type":"ibmiot in","z":"88ec9676.cf36c8","authentication":"apiKey","apiKey":"be7ae918.1efa68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"187Y1A1239","applicationId":"","deviceType":"chandana","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":459.6000061035156,"y":183.0000022649765,"wires":[["808d4ea6.ebfe2","6b31b09a.4ff78"]]},{"id":"808d4ea6.ebfe2","type":"function","z":"88ec9676.cf36c8","name":"latitude","func":"msg.payload=msg.payload.d.latitude\nglobal.set(\"latitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":655.6000061035156,"y":135.00001430511475,"wires":[["74da1b9b.e95144","e40a921f.88293"]]},{"id":"6b31b09a.4ff78","type":"function","z":"88ec9676.cf36c8","name":"longitude","func":"msg.payload=msg.payload.d.longitude\nglobal.set(\"longitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":664.6000061035156,"y":286.00000381469727,"wires":[["74da1b9b.e95144","ced13284.05de1"]]},{"id":"e40a921f.88293","type":"ui_gauge","z":"88ec9676.cf36c8","name":"","group":"adb0d814.2d77d8","order":0,"width":0,"height":0,"gtype":"gage","title":"latitude","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":939.599983215332,"y":254.9999942779541,"wires":[]},{"id":"ced13284.05de1","type":"ui_gauge","z":"88ec9676.cf36c8","name":"","group":"adb0d814.2d77d8","order":1,"width":0,"height":0,"gtype":"gage","title":"longitude","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970.599983215332,"y":180.99999332427979,"wires":[]},{"id":"9b8b2d63.05a61","type":"http in","z":"88ec9676.cf36c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":461.5999755859375,"y":340,"wires":[["e7688564.7df788"]]},{"id":"e7688564.7df788","type":"function","z":"88ec9676.cf36c8","name":"","func":"msg.payload={\"latitude\":global.get(\"latitude\"),\"longitude\":global.get(\"longitude\")}\nreturn msg;","outputs":1,"noerr":0,"x":707.5999755859375,"y":378,"wires":[["802a7dfa.13ace"]]},{"id":"802a7dfa.13ace","type":"http response","z":"88ec9676.cf36c8","name":"","statusCode":"","headers":{},"x":916.5999755859375,"y":406,"wires":[]},{"id":"be7ae918.1efa68","type":"ibmiot","z":"","name":"chandana","keepalive":"60","serverName":"a41w0q.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"adb0d814.2d77d8","type":"ui_group","z":"","name":"Default","tab":"87a41fb.973b2e","disp":true,"width":"6","collapse":false},{"id":"87a41fb.973b2e","type":"ui_tab","z":"","name":"schandana","icon":"dashboard","disabled":false,"hidden":false}]